<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link type="text/css" rel="stylesheet" href="css/web2cal.css">
    <link type="text/css" rel="stylesheet" href="css/web2cal-responsive.css">
    <link type="text/css" rel="stylesheet" href="js/optional/css/timecontrol.css">

    <title>Web2Cal | Callbacks Demo</title>
</head>
<body>
<div class="sample-desc" >
    This example demo lists all callback functions that are invoked.
</div>
<!-- Calendar Container -->
<div id="calendarContainer">
</div>
</body>



<script src="js/web2cal.support.js">  </script>
<script src="js/web2cal.templates.js">  </script>
<script src="js/web2cal.dummydata.js">  </script>
<script src="js/optional/timecontrol.js">  </script>


<script>

    var WEB2CAL_LICENSE_KEY=["*****EMBED YOUR LICENSE KEY HERE****" ];
    var ical,activeEvent
            , newEventForm="defaultNewEventTemplate"
            , mobileNewEventForm="newEventFormMobile"
            , preview="previewTemplate"
            , mobilePreview="eventPreviewMobile"
            ;
    /*
     Create the Calendar.
     */
    function buildCalendar()
    {

        ical = new Web2Cal('calendarContainer', {
            loadEvents:             loadCalendarEvents,
            detectMobileMode:       true,
            monthWithEvents:        true,
            defaultView:            "month",
            detectMobileMode:       true,
            newEventTemplateMobile: mobileNewEventForm,
            newEventTemplate:       newEventForm,
            previewTemplate:        preview,
            previewTemplateMobile:  mobilePreview,
            onNewEvent:             onNewEvent,
            onPreview:              onPreview
        });
        ical.build(); //build the calendar...
    }
    function onPreview(evt, dataObj, html)
    {
        activeEvent=dataObj;
        alert("Event Clicked");
        ical.showPreview(evt, html);
        if(dataObj.readOnly)
        {
            jQuery("#fullPreview .actions").hide();
        }else{
            jQuery("#fullPreview .actions").show();
        }
    }
    /*
     Method invoked when event is moved or resized
     @param event object containing eventID and newly updated Times
     */
    function updateEvent(event)
    {
        alert("Event Date / Time Changed");
        ical.updateEvent(event);
    }


    /*
     Method invoked when creating a new event, before showing the new event form.
     @param obj - Object containing (startTime, endTime)
     @param groups - List of Group objects ({groupId, name})
     @param allday - boolean to indicate if the event created is allday event.
     */
    function onNewEvent(obj, groups, allday)
    {
        alert("Creating new event ... ")
        if(ical.isMobileMode()){
            Web2Cal.onNewEvent(jQuery("#"+mobileNewEventForm), obj, groups, allday);
        } else {
            Web2Cal.onNewEvent(jQuery("#"+newEventForm), obj, groups, allday);
        }
    }


    /**
     Method to get Events and display it in the calendar.
     If you need to make an asynchronous call, invoke ical.render in the callback method.
     @param startTime - Calendar Display Range start
     @para endTime - Calendar End Range end
     */
    function loadCalendarEvents(startTime, endTime)
    {
        alert("Callback to get Events.");
        ical.render(Web2Cal.sampleData());
    }





    var setupEditEventForm = function($form, evObj ){
        var groups=ical.getAllGroups();
        activeEvent = evObj;
        $form.find("#eventName").val(evObj.eventName).end()
                .find("#eventGroup").val(evObj.groupId).end()
                .find("#eventStartTime").val(evObj.startTime.toString("hh:mm tt")).end()
                .find("#eventEndTime").val(evObj.endTime.toString("hh:mm tt")).end()
                .find("#eventStartDate").val(evObj.startTime.toString("MM/dd/yyyy")).end()
                .find("#eventEndDate").val(evObj.endTime.toString("MM/dd/yyyy")).end()
                .find("#addEventBtn").hide().end()
                .find("#updateEventBtn").show().end();

        var groupDD = $form.find("#eventGroup").empty();
        for(var g in groups)
        {
            if(!groups.hasOwnProperty(g))
                continue;
            addOption(groupDD, groups[g].name,groups[g].groupId,false);
        }


    }

    var editMobileEvent = function(evId, event){
        setupEditEventForm( jQuery("#"+mobileNewEventForm), event );
        Web2Cal.PageHandler.showPage(jQuery("#"+mobilePreview), jQuery("#newEventFormMobile") );
    }

    /*
     Click on Edit Button in preview window
     */
    var rzEditEvent = function(evId, event)
    {
        var evObj=ical.getEventById(evId);

        if(ical.isMobileMode()){
            editMobileEvent(evId, evObj);
        } else {
            setupEditEventForm( jQuery("#"+newEventForm), event );

            ical.showEditEventTemplate(jQuery("#"+newEventForm), evObj.eventId, event);
            Web2Cal.hidePreview();
        }
    }

    /**
     Clicking delete in Preview window
     */
    function rzDeleteEvent()
    {
        ical.deleteEvent({eventId: activeEvent.eventId});
        Web2Cal.hidePreview();
    }

    /**
     * Click of Add in add event box.
     */
    function rzAddEvent()
    {
        var newev = Web2Cal.getNewEventObject(jQuery("#defaultNewEventTemplate"));
        ical.addEvent(newev);
    }

    /**
     * Onclick of Close in AddEvent Box.
     */
    function rzCloseAddEvent()
    {
        ical.closeAddEvent();
    }

    /**
     * Once page is loaded, invoke the Load Calendar Script.
     */
    jQuery(document).ready(function()
    {
        buildCalendar();
        //Setup Time controls...
        new Web2Cal.TimeControl(jQuery("#eventStartTime").get(0));
        new Web2Cal.TimeControl(jQuery("#eventEndTime").get(0), jQuery("#eventStartTime").get(0), {
            onTimeSelect: updateDateForTime,
            dateField: "eventEndDate"
        });
    });
</script>

</html>