<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<!-- ================ application name & description ================ -->
	<display-name>xsintech-springmvc</display-name>

	<!-- ================ spring framework configuration ================ -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- ================ web-app servlet context listener definisions ================ -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<!-- ================ web-app servlet filter definisions ================ -->
	<filter>
		<filter-name>compressionFilter</filter-name>
		<filter-class>net.sf.ehcache.constructs.web.filter.GzipFilter</filter-class>
	</filter>
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>securityFilter</filter-name>
		<filter-class>cn.xsintech.web.security.SecurityFilter</filter-class>
		<init-param>
			<param-name>login-page</param-name>
			<param-value>/</param-value>
		</init-param>
	</filter>

	<!-- ================ web-app servlet definisions ================ -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/META-INF/spring/web-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
			<max-file-size>1000000</max-file-size>
			<max-request-size>1000000</max-request-size>
			<file-size-threshold>1000000</file-size-threshold>
		</multipart-config>
	</servlet>
	
	<!-- ================ url mappings ================ -->
	<filter-mapping>
		<filter-name>compressionFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>compressionFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>securityFilter</filter-name>
		<servlet-name>appServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<servlet-name>appServlet</servlet-name>
	</filter-mapping>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- ================ [DO NOT MODIFY] welcome file ================ -->
	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>
	<error-page>  
        <error-code>400</error-code>  
        <location>/WEB-INF/views/html/error/errorpage.jsp</location>  
    </error-page>  
	<error-page>  
        <error-code>403</error-code>  
        <location>/WEB-INF/views/html/error/errorpage.jsp</location>  
    </error-page>  
    <error-page>  
        <error-code>404</error-code>  
        <location>/WEB-INF/views/html/error/errorpage.jsp</location>  
    </error-page>  
    <error-page>  
        <error-code>405</error-code>  
        <location>/WEB-INF/views/html/error/errorpage.jsp</location>  
    </error-page>  
    <error-page>  
        <error-code>500</error-code>  
        <location>/WEB-INF/views/html/error/errorpage.jsp</location>  
    </error-page>
</web-app>